html, body {
    height: 98%;
    margin: 0;
    font-family: sans-serif;
}

.column {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    overflow: scroll;
}

.sidebar {
    padding: 8px 0;
    float: left;
    width: 240px;
    margin-left: calc(calc(100% - 1200px) / 2);
}

.sidebar ul {
    padding-inline-start: 12px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.sidebar li {
    display: block;
}

.sidebar a {
    padding: 4px 4px;
    text-decoration: none;
    font-size: 20px;
    color: #2196F3;
    display: inline-block;
}

.sidebar a:hover {
    color: #064579;
}

.sidebar label:hover {
    cursor: pointer;
}

.sidebar .menu {
    padding: 4px 4px 4px 4px;
    font-size: 20px;
    color: #2196F3;
}

.sidebar > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.sidebar ul li > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.sidebar ul li ul li > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.sidebar ul {
    overflow-y: hidden;
    height: 0;
    transition: height .3s ease;
}

.sidebar ul li ul {
    overflow-y: hidden;
    height: 0;
    transition: height .3s ease;
}

.sidebar > input[type="checkbox"]:checked ~ ul {
    height: auto;
    overflow: visible;
}

.sidebar ul li > input[type="checkbox"]:checked ~ ul {
    height: auto;
    overflow: visible;
}

.sidebar label:before {
  content: "[+]";
}

.sidebar > input[type="checkbox"]:checked ~ label:before {
    content: "[-]";
}

.sidebar ul li > input[type="checkbox"]:checked ~ label:before {
  content: "[-]";
}

.sidebar ul li ul li > input[type="checkbox"]:checked ~ label:before {
  content: "[-]";
}

.content {
    float: left;
    width: 680px;
    padding: 0 20px;
}

.content h1 {
    margin: 0;
    padding: 16px 0px;
}

.content h2 {
    margin: 0;
    padding: 12px 0px;
}

.content h3 {
    margin: 0;
    padding: 10px 0;
}

.content .message {
    border: 1px solid #888;
    border-radius: 3px;
    background: #ffffaa;
    padding: 0 10px;
    margin: 10px 0;
}

.content p {
    text-align: justify;
}

.content table {
    border: 1px solid #888;
    border-collapse: collapse;
}

.content table th, .content table td {
    border: 1px solid #888;
    padding: 10px;
}

.content table .table-title {
    background: #eee;
    font-weight: normal;
}

.content table.hidden, .content table.hidden th, .content table.hidden td {
    border: 0;
}

.ipa {
    color: #9f81fb;
    font-weight: bold;
}

.play-button {
    background: none;
    border: none;
    color: #77a521;
    font-size: 24px;
    padding: 0;
    line-height: 14px;
}

.play-button:hover {
    color: #88b632;
    cursor: pointer;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.content::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        margin-left: 0;
    }
}

@media only screen and (max-width: 960px) {
    .content {
        width: calc(100% - 280px);
    }
}

@media only screen and (max-width: 750px) {
    .sidebar {
        width: 100%;
        height: initial;
    }

    .content {
        width: calc(100% - 40px);
    }
}